[submodule "includes/lib/flourish"]
	path = includes/lib/flourish
	url  = https://github.com/dotink/flourish.git
[submodule "includes/lib/moor"]
	path = includes/lib/moor
	url  = https://github.com/dotink/moor.git
