server {
	listen       80;
	server_name  localhost;

	# Deny access to .hidden files, if Apache's document root
	# concurs with nginx's one

	location ~ /\. {
		deny  all;
	}

	# Configure your document root below by replacing %DOCUMENT_ROOT% with
	# an absolute filesystem path.

	location / {
		root    %DOCUMENT_ROOT%;
		index   index.php;
		include fastcgi_params;
		if (!-e $request_filename) {
			rewrite ^/(.*)$ /index.php last;
		}
		fastcgi_pass   127.0.0.1:9000;
		fastcgi_index  index.php;
		fastcgi_param QUERY_STRING     __rewrite=1&$query_string;
		fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
	}
}
