return iw::createConfig('ActiveRecord', array(

	'table'     => 'auth.users',
	'id_column' => 'username',

	'password_columns' => array(
		'login_password'
	),

	'fixed_columns' => array(
		'date_created',
		'date_last_accessed',
		'last_acccessed_from'
	),

	'order' => array(
		'id' => 'asc'
	),
));