class UsersController extends Controller
{
	/**
	 * Gets a list of users
	 */
	static public function list($page = 1, $limit = 15)
	{
		$page   = fRequest::get('page', 'integer', $page);
		$limit  = fRequest::get('limit', 'integer', $limit);
		$offset = ($page - 1) * $limit;

		$filter = array('active=' => TRUE);
		$order  = array('last_login_date' => 'desc');

		$users  = Users::build($filter, $order, $limit, $offset);

		$view   = View::create('users/list.php', array(
			'title' => 'Active Users',
			'page'  => $page,
			'users' => $users
		));

		switch (self::acceptTypes()) {
			case 'text/html':
				return $view;
			case 'application/json':
				return fJSON::encode($view);
			default:
				return self::triggerError('not_acceptable');
		}
	}
}
