<h1>
	<%= $this->pull('title') %> (Page <%= $this->pull('page') %>)
</h1>
<ul>
	<% $this->repeat('users', function($user, $view) { %>
		<li>
			<h2>
				<%= (string) $user %>
			</h2>
			<p>
				This account was created on:
				<%= $user->prepareDateCreated('F jS, Y') %>
			</p>
		</li>
	<% }); %>
</ul>