body {
	font-family: sans, verdana;
}

h1,h2,h3,h4 {
	color: #a40000;
	font-weight: normal;
}


p {
	font-size: 1.2em;
	line-height: 1.6em;
}

code {
	font-size: 1.6em;
	color: #123456;
}

pre.code {
	font-size: 1.6em;
	background-color: #efefef;
	padding: 1em;
	border: solid 1px #d0d0d0;
	margin-bottom: 1em;
}

li {
	line-height: 1.6em;
}

a {
	color: #a40000;
	text-decoration: none;
}

body > .header {
	border-bottom: dotted 1px #909090;
	padding: 1em 0;
}

	body > .header span.logo {
		display: block;
		width: 380px;
		height: 80px;
		background-image: url(/user/styles/default/images/logo.png);
		text-indent: -500px;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	body > .header span.tagline {
		font-size: 3.0em;
		font-family: Georgia;
	}

body > .nav {}

	body > .nav > li {}

	body > .nav > li > .nav {
		margin-left: 15px;
	}

body > .primary.nav {
	clear: both;
	float: left;
	width: 250px;
	font-size: 1.2em;
}

	body > .primary.nav a {
		padding: .75em;
		padding-left: 20px;
	}

	body > .primary.nav > li {
		border-bottom: dotted 1px #b6b6b6;
		margin: 0;
		padding: 0;
	}

	body > .primary.nav > li > .secondary.nav {
		display: none;
	}

	body > .primary.nav > li.selected > .secondary.nav {
		display: block;
	}

	body > .secondary.nav > li {
		margin: 0;
		padding: 0;
	}

	body > .primary.nav li.download {
		margin: 5em auto;
		width: 200px;
		background-color: #efefef;
		background: -moz-linear-gradient(top, #efefef, #d6d6d6);
		text-align: center;
		border: solid 1px #e0e0e0;
		-moz-border-radius: 1em;
	}

		body > .primary.nav li.download a {
			font-weight: bold;
		}

		body > .primary.nav li.download span {
			display: block;
			height: 30px;
			text-indent: -500px;
			overflow: hidden;
			background-image: url(/user/styles/default/images/download.png);
			background-repeat: no-repeat;
			background-position: bottom center;
		}

body > .torso {
	float: left;
	padding: 1em 10px;
	border-left: dotted 1px #909090;
	width: 70%;
	margin-bottom: 80px;
}

	body > .torso ul,
	body > .torso ol {
		margin-left: 1em;
		font-size: 1.2em;
		color: #404040;
	}

	body > .torso ul {
		list-style-type: circle;
	}

	body > .torso > .section.primary {
		float: left;
		width: 73%;
		padding: 0 1%;
	}

	body > .torso > .section.secondary {
		float: left;
		width: 23%;
		padding: 1em 1%;
		background-color: #efefef;
		-moz-border-radius: 1em;
	}

body > .footer {
	position: fixed;
	background-color: #efefef;
	-moz-box-shadow: 0 0 20px 1px #909090;
	bottom: 0px;
	width: 100%;
	height: 30px;
	border-top: dotted 1px #909090;
	padding: 10px 10px;
}

#home .learn_more {
	background: -moz-linear-gradient(top, #f6f6f6, #ffffff);
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

#home .learn_more .section {
	width: 30%;
	padding: 1.5%;
}
